.profile-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 150px 30px 150px;
    padding: '130px';
}